% -*- mode: erlang -*-
% {deps, [{meck, ".*",
%          {git, "git://github.com/eproxus/meck", "master"}}]}.
{deps, [{gen_leader, ".*",
         {git, "git://github.com/Vagabond/gen_leader_revival", "master"}}]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
